<ion-header>
  <ion-navbar color="kitchen">
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{items.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items.items; let i = index;" (click)="itemTapped($event, i, items)">
      <ion-thumbnail item-start>
      <img src="{{item.imgSrc}}">
      </ion-thumbnail>
      <!--<ion-icon [name]="item.icon" item-left></ion-icon> -->
      <h2>{{item.name}}</h2>
      <!-- 
      <div class="item-note" item-left>
        {{item.name}}
      </div>
      -->
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>